.message {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    position: relative;
  }
  .message::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    border: 1px solid crimson;
  }